--
-- PostgreSQL database dump
--

\restrict 9unfmibS2B4nEvOxQekSwcoEAKK4Gd72hwteszUYIZRqXgqGkTeKqztOq0y0uVb

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: images; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.images (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    zip_id uuid,
    image_url character varying(255) NOT NULL,
    public_id character varying(255) DEFAULT 'default_image'::character varying NOT NULL,
    image_type character varying(255) NOT NULL,
    image_size integer NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.images OWNER TO admin;

--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    zip_root character varying(255) DEFAULT 'default_zip'::character varying NOT NULL,
    image_root character varying(255) DEFAULT 'default_image'::character varying NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: zips; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.zips (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    zip_name character varying(255) NOT NULL,
    status character varying(255) DEFAULT 'pending'::character varying NOT NULL,
    total_files integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp with time zone NOT NULL,
    "updatedAt" timestamp with time zone NOT NULL
);


ALTER TABLE public.zips OWNER TO admin;

--
-- Data for Name: images; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.users (id, email, password, username, zip_root, image_root, "createdAt", "updatedAt") FROM stdin;
58402367-354d-44a0-a6bd-06c1f9ee9f74	admin@gmail.com	$2b$10$gFLQ3OXJGW46KBtZRjQrGeEiXl/Cr6fIXL/6/qpFluUJ9DEvLBIKe	admin123	admin123	admin123	2026-04-20 05:13:19.686+00	2026-04-20 05:13:19.686+00
85079e4f-733e-4a40-98c0-646c382c0d08	gc@gmail.com	$2b$10$8kwyM/XdrVCEIV.3FA9qruyJ0JsMU1C5At.Bv2ug772UcH.Mti/eC	ooi guan cheng	ooi guan cheng	ooi guan cheng	2026-04-20 06:18:31.465+00	2026-04-20 06:18:31.465+00
\.


--
-- Data for Name: zips; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.zips (id, user_id, zip_name, status, total_files, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Name: images images_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: zips zips_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.zips
    ADD CONSTRAINT zips_pkey PRIMARY KEY (id);


--
-- Name: images images_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: images images_zip_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.images
    ADD CONSTRAINT images_zip_id_fkey FOREIGN KEY (zip_id) REFERENCES public.zips(id);


--
-- Name: zips zips_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.zips
    ADD CONSTRAINT zips_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 9unfmibS2B4nEvOxQekSwcoEAKK4Gd72hwteszUYIZRqXgqGkTeKqztOq0y0uVb

